/**  =====================
    2. Custom css start
==========================  **/

* {
  &:focus {
    outline: none;
  }
}

.accordion {
  --#{$prefix}accordion-color: #{$body-color};
}

a {
  &:hover {
    outline: none;
    text-decoration: none;
  }

  &:not([href]) {
    color: inherit;
  }
}

p {
  font-size: 14px;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  color: var(--pc-heading-color);
}

b,
strong {
  font-weight: 600;
}

.breadcrumb-default-icon {
  .breadcrumb-item + .breadcrumb-item::before {
    position: relative;
    top: 2px;
  }
}

.btn-page {
  .btn {
    margin-right: 5px;
    margin-bottom: 5px;
  }

  .btn-group {
    .btn {
      margin-right: 0;
      margin-bottom: 0;

      &:last-child {
        border-left: none;
      }
    }

    label {
      &:first-of-type {
        border-right: none;
      }
    }
  }
}

.material-icons-two-tone {
  background-color: $body-color;
  -webkit-text-fill-color: transparent;
  vertical-align: text-bottom;
  -webkit-background-clip: text;

  &.text-white {
    background-color: #fff;
  }
}

.img-radius {
  border-radius: 50%;
}

.pc-icon {
  &:not([class*='wid-']) {
    width: 22px;
  }

  &:not([class*='hei-']) {
    height: 22px;
  }
}
.peity-full-width .peity {
  width: 100%;
  height: 125px;
}
// ==============  highlight code css start  ================

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #abb2bf;
  background: #282c34;
}

.hljs-comment,
.hljs-quote {
  color: #5c6370;
  font-style: italic;
}

.hljs-doctag,
.hljs-formula,
.hljs-keyword {
  color: #c678dd;
}

.hljs-deletion,
.hljs-name,
.hljs-section,
.hljs-selector-tag,
.hljs-subst {
  color: #e06c75;
}

.hljs-literal {
  color: #56b6c2;
}

.hljs-addition,
.hljs-attribute,
.hljs-meta-string,
.hljs-regexp,
.hljs-string {
  color: #98c379;
}

.hljs-built_in,
.hljs-class .hljs-title {
  color: #e6c07b;
}

.hljs-attr,
.hljs-number,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-pseudo,
.hljs-template-variable,
.hljs-type,
.hljs-variable {
  color: #d19a66;
}

.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-symbol,
.hljs-title {
  color: #61aeee;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}

// ==============  highlight code css end  ================
/* ========================================================
 ===============     document      ======================
 ========================================================

 Grid examples
*/
.bd-example-row {
  background: $body-bg;
  padding: 15px;
  margin-bottom: 15px;

  .row {
    > [class^='col-'],
    > .col {
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
      background-color: rgba(86, 61, 124, 0.15);
      border: 1px solid rgba(86, 61, 124, 0.2);
    }
  }

  .row + .row {
    margin-top: 1rem;
  }

  .flex-items-bottom,
  .flex-items-middle,
  .flex-items-top {
    min-height: 6rem;
    background-color: rgba(255, 0, 0, 0.1);
  }
}

.bd-example-row-flex-cols .row {
  min-height: 10rem;
  background-color: rgba(255, 0, 0, 0.1);
}

/* Docs examples */
.bd-example {
  position: relative;
  padding: 1rem;
  margin: 1rem;
  border: solid #ddd;
  border-width: 0.2rem 0 0;

  @media only screen and (max-height: 575px) {
    padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    border-width: 0.2rem;
  }
}

/* Example modals */
.modal {
  z-index: 1081;

  .popover,
  .tooltip {
    z-index: 1073;
  }
}

.modal-backdrop {
  z-index: 1071;
}

.bd-example-modal {
  background-color: var(--bs-body-bg);

  .modal {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    z-index: 1;
    display: block;
  }

  .modal-dialog {
    left: auto;
    margin-right: auto;
    margin-left: auto;
    padding: 0 20px;
  }

  .offcanvas {
    position: static;
    display: block;
    height: 200px;
    visibility: visible;
    transform: translate(0);
  }
}
.modal {
  .bd-example-row {
    padding: 15px 25px;
  }
}
/* Example tabbable tabs */
.bd-example-tabs .nav-tabs {
  margin-bottom: 1rem;
}

/* Code snippets */
.highlight {
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #f3f2fb;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  @media only screen and (max-height: 575px) {
    padding: 1.5rem;
  }
}

.bd-content .highlight {
  margin-right: 15px;
  margin-left: 15px;

  @media only screen and (max-height: 575px) {
    margin-right: 0;
    margin-left: 0;
  }
}

.highlight {
  pre {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    background-color: transparent;
    border: 0;
  }

  pre code {
    font-size: inherit;
    color: #333;
  }
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: transparent;
}

/* ================================    Blockquote Start  ===================== */

svg.feather {
  &:not([class*='wid-']) {
    width: 20px;
  }

  &:not([class*='hei-']) {
    height: 20px;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1540px;
  }
}

pre[class*='language-']:before,
pre[class*='language-']:after {
  display: none;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  display: flex;
  margin: 0;
}

pre[class*='language-'] > code {
  width: 100%;
}

.blockquote {
  padding: 0.5rem 1rem;
}

/* ================================    Blockquote End  ===================== */

.fixed-button {
  position: fixed;
  bottom: -50px;
  right: 30px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
  opacity: 0;
  z-index: 9;
  transition: all 0.5s ease;
}

.fixed-button.active {
  bottom: 50px;
  opacity: 1;
}

.color-card {
  .card-body {
    margin: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    background: rgba(107, 117, 125, 0.08);
    border-radius: $border-radius;
  }
}

.color-block {
  border-radius: $border-radius;
  margin: 4px 0;

  @each $name, $value in $more-colors {
    $i: 100;

    @while $i<=900 {
      &.bg-#{$name}-#{$i} {
        color: color-contrast(map-get($value, $i));
      }

      &.text-#{$name}-#{$i} {
        background-color: color-contrast(map-get($value, $i));
      }

      $i: $i + 100;
    }
  }
}

.row {
  > div {
    .color-block {
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.card .toast-container {
  position: relative;
}

.blockquote-footer {
  margin-top: 0;
}
.toast-container {
  z-index: 1022;
}

.carousel-indicators {
  li {
    &::marker {
      font-size: 0;
    }
  }
}

.pagination {
  @media screen and (max-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
  .page-item {
    .page-link {
      border-radius: 0;
    }
    &:first-child {
      .page-link {
        border-radius: var(--bs-pagination-border-radius) 0 0 var(--bs-pagination-border-radius);
      }
    }
    &:last-child {
      .page-link {
        border-radius: 0 var(--bs-pagination-border-radius) var(--bs-pagination-border-radius) 0;
      }
    }
  }
}

// offcanvas page css
.customer-body {
  height: calc(100% - 60px);
}

.offcanvas-top,
.offcanvas-bottom {
  min-height: 240px;
}

.uppy-Dashboard-inner {
  width: 800px !important;
}

.h-200 {
  height: 200px;
}

.w-1 {
  width: 100%;
}
.w-200 {
  width: 200px;
}
.h-250 {
  height: 250px;
}

.h-12 {
  height: 12px;
}
.w-32 {
  height: 32px;
  width: 32px;
}
.w-30 {
  width: 30%;
}
.w-36 {
  width: 36%;
}
.w-40 {
  width: 40%;
}

.h-400 {
  height: 400px !important;
}

.font-size-30 {
  font-size: 30px !important;
}

.feed-card {
  h6 {
    margin-top: 7px;
    font-size: 14px;
    transition: all 0.3s ease-in-out;

    > span {
      font-size: 11px;
    }

    &:hover {
      color: #04a9f5;
    }
  }

  .feed-icon {
    border-radius: 50% !important;
    display: block !important;
    width: 34px !important;
    height: 34px !important;
    text-align: center !important;
    padding: 10px 8px !important;
  }
}

.border-feed {
  border-top-left-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
  transition: all 0.3s ease-in-out;
  position: relative;

  i {
    position: absolute;
    top: calc(50% - 20px);
    left: 0;
    right: 0;
    text-align: center;
    color: #fff;
    transition: all 0.3s ease-in-out;

    &.material-icons-two-tone {
      background-color: #fff;
    }
  }
}

.ticket-card {
  &.open-ticket {
    border-left: 3px solid $danger;
  }

  &.close-ticket {
    border-left: 3px solid $success;
  }
}

.popup-trigger {
  cursor: pointer;
}

.custom-scrollbar {
  max-height: 90vh;
}

.bg-light-danger {
  background: #feeceb !important;
  color: #f44236 !important;
}

// switch css
.slow .switch-group {
  transition: left 0.7s;
  -webkit-transition: left 0.7s;
}

.fast .switch-group {
  transition: left 0.1s;
  -webkit-transition: left 0.1s;
}

.quick .switch-group {
  transition: none;
  -webkit-transition: none;
}

.switch.btn {
  &:not([class*='wid-']) {
    width: 4rem;
  }
  &:not([class*='hei-']) {
    height: 40px;
  }
}

.testimonial-slider {
  position: relative;
  z-index: 5;
  .testimonial-card {
    margin-right: 20px;
  }
}

.landing-background-image {
  background-image: url('assets/images/landing/img-title-line.svg');
}

.document-main {
  width: 770px !important;
  margin: 0 auto !important;
  background: #fff !important;
  box-shadow: 0 0 10px #ccc !important;
}

.bg-secondary-100 {
  background-color: #f2f2f2;
}

.hei-325 {
  height: 325px !important;
}

.star-square:hover {
  fill: #fdd835;
}

.star-square:active {
  fill: #fdd835;
}

.svg1:hover circle {
  fill: #ffa98d;
}
.svg2:hover circle {
  fill: #ffc385;
}
.svg3:hover circle {
  fill: #ffd885;
}
.simple-bar {
  max-height: calc(100vh - 400px);
}
.Design-sprint .card-header {
  border-bottom: none !important;
}
.carousel-indicators [data-bs-target] {
  border-radius: 50%;
  width: 20px !important;
}
.bg-light[colspan] {
  @include media-breakpoint-up(sm) {
    padding-left: 40px;
  }
  @include media-breakpoint-up(md) {
    padding-left: 48px;
  }
  @include media-breakpoint-up(lg) {
    padding-left: 96px;
  }
}
.hei-12 {
  height: 12px !important;
}

.ps-24 {
  padding-left: 24px !important;
}
.pe-24 {
  padding-right: 24px !important;
}
.w-24 {
  width: 24px;
  height: 24px;
}
.table-responsive {
  max-height: 544px;
  overflow-y: auto;
}

.sticky-header {
  position: sticky;
  top: -1px;
  background-color: white;
  z-index: 1;
}

.resizer {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 5px;
  cursor: col-resize;
  user-select: none;
  touch-action: none;
}

.table-avatar {
  width: 32px;
  height: 32px;
}

.table thead th {
  position: relative;
}

.table thead th::after {
  position: absolute;
  content: '';
  background-color: rgb(240, 240, 240);
  width: 1px;
  height: calc(100% - 30px);
  right: 0px;
  top: 16px;
}

.resizer.isResizing {
  opacity: 1;
}

.rotate-45 {
  transform: rotate(45deg);
}

.max-w-100 {
  max-width: 250px;
}

.custom-padding {
  padding-left: 0px;
  @media (min-width: 576px) {
    padding-left: 20px;
  }

  @media (min-width: 768px) {
    padding-left: 40px;
  }

  @media (min-width: 992px) {
    padding-left: 60px;
  }

  @media (min-width: 1200px) {
    padding-left: 96px;
  }
}

.wid-495 {
  margin: 0 !important;
  width: 495px !important;

  @media (min-width: 1024px) and (max-width: 1440px) {
    width: 345px !important;
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    width: 308px !important;
  }

  @media (min-width: 425px) and (max-width: 768px) {
    width: 707px !important;
  }
  @media (min-width: 425px) {
    width: 395px !important;
  }
}

.border-radius-none {
  border-radius: 0px !important;
}

.table-body-color {
  color: #262626 !important;
}

.table thead th {
  position: relative;
}

.table thead th::after {
  position: absolute;
  content: '';
  background-color: rgb(240, 240, 240);
  width: 1px;
  height: calc(100% - 30px);
  right: 0px;
  top: 16px;
}

.table-bordered > :not(caption) > * > * {
  border-width: 0 !important;
}

.cursor-pointer {
  cursor: pointer;
}

.visible-class {
  visibility: visible;
}

.hidden-class {
  visibility: hidden;
}
.price-card.price-popular {
  border: 2px solid var(--bs-primary);
}

.price-card.price-popular .price-head {
  background: rgba(var(--bs-primary-rgb), 0.1);
  margin-bottom: 16px;
}

.price-card.price-popular .price-head.v2 {
  border-radius: var(--bs-border-radius);
  margin: 0 0 16px;
}

.price-card .price-head {
  border-radius: var(--bs-border-radius) var(--bs-border-radius) 60px 60px;
  padding: 20px;
  text-align: center;
  margin: 15px 15px 30px;
  padding-bottom: 30px;
  position: relative;
}

.price-card .price-head.v3 {
  margin: 0 0 25px;
  padding: 0;
}

.price-card .price-price {
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
}

.price-card .price-price span {
  margin-top: 8px;
  font-weight: 400;
  font-size: 0.875rem;
  opacity: 0.8;
}

.price-card .card-body.v3 {
  display: flex;
  flex-direction: column;
}

.price-card .product-list.v3 {
  flex: 1 1 auto;
}

.price-card .product-list.v3 .list-group-item {
  padding: 4px 0 4px 25px;
  padding-left: 0;
  background: transparent;
  border: none;
}

.svg-wid-22 {
  svg,
  .introjs-tooltip .introjs-button svg {
    height: 22px !important;
    width: 22px !important;
  }
}

.breadcrumb {
  margin-bottom: 0px !important;
}

.hei-100 {
  height: 100px !important;
}

.border-10 {
  border: 4px solid #eaeaea !important;
}

.hei-84 {
  height: 84px !important;
}

.max-height-adjust {
  max-height: calc(100% - 60px) !important;
}

.wid-45 {
  width: 45px !important;
}

.wid-20 {
  width: 20px !important;
  height: 20px !important;
}
.custom-pagination {
  .page-link {
    color: #888;
    border: none !important;
  }

  .page-item:not(:first-child) .page-link {
    margin-left: 2px !important;
  }

  .page-link:focus {
    box-shadow: none !important;
  }

  .page-link:hover {
    color: #888;
    background-color: #d9d9d9 !important;
    border-color: none !important;
  }

  .page-link.active,
  .active > .page-link {
    background-color: #d9d9d9 !important;
    color: #888;
    border: none !important;
  }
}

.hei-350 {
  height: 350px !important;
}

.borderless-header {
  border-bottom: none;
}

.element-item img {
  display: block;
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  min-height: 150px; /* Prevents image collapse before loading */
}

.masonry-item img {
  display: block;
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  min-height: auto; /* Prevents image collapse before loading */
}

.grid-gallery-close {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(50%, -50%) scale(0.8);
  background-color: var(--bs-modal-bg);
  padding: 8px;
  z-index: 5;
  opacity: 1;
  border-radius: 50%;
}

.grid figure {
  .text-spacing {
    letter-spacing: 6px;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.bg-light-danger {
  background: #feeceb !important;
  color: #f44236 !important;
}

.hei-350 {
  height: 350px !important;
}

.hei-450 {
  height: 450px !important;
}

.w-20 {
  width: 20px !important;
  height: 20px !important;
}

.f-16 {
  font-size: 16px !important;
}

.f-18 {
  font-size: 18px !important;
}

.w-26 {
  width: 26px !important;
  height: 26px !important;
}

.w-16 {
  width: 16px !important;
  height: 16px !important;
}

.custom-accordion-header button {
  padding: '0 auto 0 auto' !important;
  background-color: transparent !important;
}

.ql-container.ql-snow {
  height: 125px;
}

.dz-message {
  text-align: center;
  margin: 2em 0;
}

.wid-20 {
  width: 20px !important;
  height: 20px !important;
}

.wid-18 {
  width: 18px !important;
  height: 18px !important;
}

.wid-16 {
  width: 16px !important;
  height: 16px !important;
}

.element-item img {
  display: block;
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  min-height: 150px; /* Prevents image collapse before loading */
}

.masonry-item img {
  display: block;
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  min-height: auto; /* Prevents image collapse before loading */
}

.grid-gallery-close {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(50%, -50%) scale(0.8);
  background-color: var(--bs-modal-bg);
  padding: 8px;
  z-index: 5;
  opacity: 1;
  border-radius: 50%;
}

.grid figure {
  .text-spacing {
    letter-spacing: 6px;
  }
}

.cursor-pointer {
  cursor: pointer;
}

@media (max-width: 1024px) {
  .chat-offcanvas {
    --bs-offcanvas-width: 301px;
  }
}

.custom-accordion-header {
  .accordion-button {
    padding: 0px !important;
    box-shadow: none !important;
  }
}

.finance-image {
  background-image: url('assets/images/widget/img-card-bg.svg');
  background-size: cover;
}

/**  =====================
    2. Custom css end
==========================  **/
